.booking-modal-container {
  .booking-modal-content {
    display: flex;
    flex-direction: column;
    .booking-modal-header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      i {
        cursor: pointer;
      }
    }
    .booking-modal-body {
      height: 100%;
      padding: 10px;
    }
    .booking-modal-footer {
      border-top: 1px solid #ccc;
      display: flex;
      justify-content: end;
      padding: 10px;
      gap: 15px;
      button {
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px 8px;
        cursor: pointer;
      }
      .btn-confirm {
        background-color: orange;
      }
      .btn-cancel {
        background-color: gray;
      }
    }
  }
}
